body {
	font-family: "Open Sans";
	font-weight: 300;
}

h1 {
	font-size: 36px;
	margin: 0;
	font-family: "Open Sans";
}

h3 {
	margin: 0;
	font-size: 24px;
	font-family: "Open Sans";
}

h5 {
	font-size: 14px;
	font-family: "Open Sans";
}

.mdl-button {
	font-family: "Open Sans";
	margin-right: 1px;
	margin-left: 1px;
}

.hot-under {
	color: blue;
}

.hot-over {
	color: red;
}

.cold-under {
	color: SkyBlue;
}

.cold-over {
	color: orange;
}